@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.logo-img {
  height: 80px; /* tamanho padronizado */
  object-fit: contain; /* mantém proporção */
  filter: brightness(0) saturate(100%) invert(70%) contrast(90%);
}
